/* base background color of selections */
@define-color theme_selected_bg_color #345e81;

@define-color theme_selected_bg_color #value-of-your-choice;


*:selected{
    background-color: @theme_selected_bg_color;
}

*.view:selected {
    background-color: @theme_selected_bg_color;
}

textview selection {
    background-color: @theme_selected_bg_color;
}

selection {
    background-color: @theme_selected_bg_color;
 } 

menu menuitem:hover,
.menu menuitem:hover {
     background-color: @theme_selected_bg_color;
}

switch:checked {
   background-color: @theme_selected_bg_color;
}

 notebook > header.top > tabs > tab:checked { 
    box-shadow: inset 0 -3px  @theme_selected _bg_color;
}
